<p style="font-size: 20px; font-weight: bolder;">Documentos</p>
<table class="table">
    <thead>
      <tr>
        <td>Encuentro</td>
        <td>Fecha de creación</td>
        <td>Estado</td>
        <td>Tipo de documento</td>
        <td>Detalle</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><mat-icon>insert_drive_file</mat-icon></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><mat-icon>insert_drive_file</mat-icon></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><mat-icon>insert_drive_file</mat-icon></td>
      </tr>
     
    </tbody>
  </table>
  <br>
  <button class="acept" mat-raised-button  mat-dialog-close>ACEPTAR</button>